= form_for @service do |f|
  -if @service.errors.any?
    .msg.error
      %h2= "При сохранении произошли ошибки"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  - parentID = !@service.service_id.nil? ? @service.service_id : params[:id].to_i
  = f.hidden_field :service_id, {:value => parentID.to_s}

  -if params['is_folder'].to_i == 1 || @service.is_folder == 1
    .form-group
      = f.label :name
      = f.text_field :name, class: "form-control"
      = f.hidden_field :is_folder, {:value => 1.to_s}

  - else
    = f.hidden_field :is_folder, {:value => 2.to_s}
    .form-group
      = f.label :name
      = f.text_field :name, class: "form-control"
    .form-group
      = f.label :description
      = f.text_field :description, class: "form-control"
  .actions
    = f.submit 'Сохранить', class: "btn btn-default"
