= form_for @user, :html => {:multipart => true} do |f|
  -if @user.errors.any?
    .msg.error
      %h2= "При сохранении произошли ошибки"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :fio
    = f.text_field :fio, class: "form-control"
  .form-group
    = f.label :login
    = f.text_field :login, class: "form-control"
  .form-group
    = f.label :password
    = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: "form-control"
  .form-group
    = f.label :avatar
    = f.file_field :avatar


  - chckedValue = @user.roles ? @user.roles.split : []
  - if current_user.try('admin?')
    .form-group
      = f.label :roles
      = f.select :roles, [["Администратор", "admin"], ["Мастер", "master"], ["Клиент", "customer"]],{:prompt => "Выберите роли", :selected => chckedValue}

  - if current_user.try('master?')
    .form-group
      = f.label :roles
      = f.select :roles, [["Мастер", "master"], ["Клиент", "customer"]],{:prompt => "Выберите роли", :selected => chckedValue}
  .actions
    = f.submit 'Сохранить', class: "btn btn-default"
