%p
  %b=User.human_attribute_name(:fio)
  = @user.fio

%p
  %b=User.human_attribute_name(:login)
  = @user.login

%p
  %b=User.human_attribute_name(:roles)
  = @user.roles

= link_to 'Изменить', edit_user_path(@user)
\|
= link_to 'Список пользователей', users_path
