= form_for @welcome do |f|
  - if @welcome.errors.any?
    #error_explanation
      %h2= "#{pluralize(@welcome.errors.count, "error")} prohibited this welcome from being saved:"
      %ul
        - @welcome.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit nil, class: 'btn btn-primary'
