= form_for @review do |f|
  =error_messages_for @review

  .form-group
    = f.label :description
    = f.text_area :description
  - if !current_user
    .form-group
      = f.label :login
      = f.text_field :login
  .form-group
    = f.label :name
    = f.text_field :name
  .form-group
    = f.submit 'Save'
