%h1 Отзывы

%table
  %thead
    %tr
      %th Description
      %th Login
      %th Name
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.description
        %td= review.login
        %td= review.name
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Review', new_review_path
