.bs-docs-section
  %h1 Авторизация
  .row
    .col-xs-6
      = form_tag user_sessions_path, :method => :post, :class => "form-horizontal" do
        %fieldset
          .form-group
            = label_tag :username, 'Логин', class: "col-lg-2 control-label"
            .col-lg-10
              = text_field_tag :username, '', class: "form-control"
          .form-group
            = label_tag :password, 'Пароль',class: "col-lg-2 control-label"
            .col-lg-10
              = password_field_tag :password, '', class: "form-control"
          .actions
            = submit_tag "Войти", class: "btn btn-default"
