!!! 5
%html
  %head
    %title
      Edu-online
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrap
      .container.main
        = render 'layouts/topbar'
        = render 'layouts/flash_messages'
        = yield



-#- if current_user.try('admin?') || current_user.try('teacher?')
-#  .navbar
-#    - if current_user.try('admin?') || current_user.try('teacher?')
-#      %ul.nav.navbar-nav.navbar-right
-#        -if @current_user
-#          %li.dropdown
-#            =link_to ?#,class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
-#              =@current_user.fio
-#              %span.caret
-#            %ul.dropdown-menu
-#              %li=link_to 'Выход',logout_path
-#        -else
-#          %li=link_to "Вход",login_path
-#          %li=link_to "Регистрация",new_user_path
-#  .navbar.navbar-default
-#    .container
-#      .navbar-header
-#        %ul.nav.navbar-nav
-#          - if current_user.try('admin?')
-#            -#=link_to "Предметы", subjects_path, class: 'navbar-brand'
-#            -#=link_to "Темы", topics_path, class: 'navbar-brand'
-#            -#%li{class: ('active' if controller_name=='group_studs')}=link_to "Группы",group_studs_path, class: 'navbar-brand'
-#            -#%li{class: ('active' if controller_name=='disciplines')}=link_to "Дисциплины",disciplines_path, class: 'navbar-brand'
-#            -#%li{class: ('active' if controller_name=='blocks')}=link_to "Семестр",blocks_path, class: 'navbar-brand'
-#          %ul.nav.navbar-nav
-#            -#%li{class: ('active' if controller_name=='tests')}=link_to "Тесты",tests_path, class: 'navbar-brand'
-#            -#%li{class: ('active' if controller_name=='scenarios')}=link_to "Сценарий",scenarios_path, class: 'navbar-brand'
-#
-#      %ul.nav.navbar-nav
-#        - if current_user.try('admin?')
-#          %li{class: ('active' if controller_name=='users')}=link_to "Пользователи",users_path, class: 'glyphicons glyphicons-glass'
-#-else
-#  %ul.nav.navbar-nav.navbar-right
-#    -if @current_user
-#      %li.dropdown
-#        =link_to ?#,class: 'dropdown-toggle', data: {toggle: 'dropdown'} do
-#          =@current_user.fio
-#          %span.caret
-#        %ul.dropdown-menu
-#          %li=link_to 'Выход',logout_path
-#    -else
-#      %li=link_to "Вход",login_path
-#      %li=link_to "Регистрация",new_user_path
-#